version: 2

.job_steps: &job_steps
  steps:
    - checkout
    - run:
        name: "Setup"
        command: |
          if [[ $CIRCLE_JOB == *"qemu"* ]] ; then sudo docker run --rm --privileged multiarch/qemu-user-static:register --reset ; fi
    - run:
        name: "Build"
        no_output_timeout: 30m
        command: |
          BRANCH=$([ -z "$CIRCLE_TAG" ] && echo "$CIRCLE_BRANCH" || echo "master")
          [[ $CIRCLE_JOB == *"qemu"* ]] && DOCKERIFNEEDED="docker run --rm -v $(pwd):/workspace -w /workspace pihole/ftl-build:arm-qemu "
          $DOCKERIFNEEDED bash .circleci/build-CI.sh "${STATIC}" "${BRANCH}" "${CIRCLE_TAG}" "${CIRCLE_JOB}"
          cp cmake/pihole-FTL .
    - run:
        name: "Binary checks"
        command: bash test/arch_test.sh
    - run:
        name: "Upload"
        command: |
          [ -z "${CIRCLE_PR_USERNAME}" ] || exit 0
          DIR="${CIRCLE_TAG:-${CIRCLE_BRANCH}}"
          mv pihole-FTL "${BIN_NAME}"
          sha1sum pihole-FTL-* > ${BIN_NAME}.sha1
          mkdir -p ~/.ssh/
          ssh-keyscan -H $SSH_HOST >> ~/.ssh/known_hosts
          sftp -b - $SSH_USER@$SSH_HOST <<< "-mkdir ${DIR}
          put ${BIN_NAME}* ${DIR}"
          mv "${BIN_NAME}" pihole-FTL
    - run:
        name: "Test"
        command: |
          test/run.sh

.docker_template: &docker_template
  docker:
    - image: pihole/ftl-build:v1.3-$CIRCLE_JOB
  <<: *job_steps

jobs:
  arm:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-arm-linux-gnueabi"

  armhf:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-arm-linux-gnueabihf"

  aarch64:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-aarch64-linux-gnu"

  x86_64:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-linux-x86_64"

  x86_64-musl:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-musl-linux-x86_64"

  x86_32:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-linux-x86_32"

  arm-qemu:
    machine:
      enabled: true
    environment:
      BIN_NAME: "pihole-FTL-armel-native"
    <<: *job_steps

workflows:
  version: 2
  build:
    jobs:
      - arm:
          filters:
            tags:
              only: /^v.*/
      - arm-qemu:
          filters:
            tags:
              only: /^v.*/
      - armhf:
          filters:
            tags:
              only: /^v.*/
      - aarch64:
          filters:
            tags:
              only: /^v.*/
      - x86_64:
          filters:
            tags:
              only: /^v.*/
      - x86_64-musl:
          filters:
            tags:
              only: /^v.*/
      - x86_32:
          filters:
            tags:
              only: /^v.*/

