version: 2

.job_steps: &job_steps
  steps:
    - checkout
    - add_ssh_keys:
        fingerprints:
          - "25:6c:10:82:c3:70:59:91:50:a2:96:3f:1b:0e:bc:b4"
    - run:
        name: "Setup"
        command: |
          make clean
          if [[ $CIRCLE_JOB == *"qemu"* ]] ; then sudo docker run --rm --privileged multiarch/qemu-user-static:register --reset ; fi
    - run:
        name: "Build"
        no_output_timeout: 30m
        command: |
          BRANCH=$([ -z "$CIRCLE_TAG" ] && echo "$CIRCLE_BRANCH" || echo "master")
          [[ $CIRCLE_JOB == *"qemu"* ]] && DOCKERIFNEEDED="docker run --rm -v $(pwd):/workspace -w /workspace pihole/ftl-build:arm-qemu "
          $DOCKERIFNEEDED make GIT_BRANCH="${BRANCH}" GIT_TAG="${CIRCLE_TAG}" STATIC="${STATIC}"
          file pihole-FTL
    - run:
        name: "Upload"
        command: |
          [[ "$CIRCLE_PROJECT_REPONAME" == "FTL" && "$CIRCLE_PROJECT_USERNAME" == "pi-hole" ]] || exit 0
          DIR="${CIRCLE_TAG:-${CIRCLE_BRANCH}}"
          mv pihole-FTL "${BIN_NAME}"
          sha1sum pihole-FTL-* > ${BIN_NAME}.sha1
          mkdir -p ~/.ssh/
          sftp -b - $SSH_USER@$SSH_HOST <<< "-mkdir ${DIR}
          put ${BIN_NAME}* ${DIR}"
          mv "${BIN_NAME}" pihole-FTL
    - run:
        name: "Test"
        command: |
          test/run.sh

.docker_template: &docker_template
  docker:
    - image: pihole/ftl-build:v1.0-$CIRCLE_JOB
  <<: *job_steps

jobs:
  arm:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-arm-linux-gnueabi"

  armhf:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-arm-linux-gnueabihf"

  aarch64:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-aarch64-linux-gnu"

  x86_64:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-linux-x86_64"

  x86_64-musl:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-musl-linux-x86_64"

  x86_32:
    <<: *docker_template
    environment:
      BIN_NAME: "pihole-FTL-linux-x86_32"

  arm-qemu:
    machine:
      enabled: true
    environment:
      BIN_NAME: "pihole-FTL-armel-native"
    <<: *job_steps

workflows:
  version: 2
  build:
    jobs:
      - arm:
          filters:
            tags:
              only: /^v.*/
      - arm-qemu:
          filters:
            tags:
              only: /^v.*/
      - armhf:
          filters:
            tags:
              only: /^v.*/
      - aarch64:
          filters:
            tags:
              only: /^v.*/
      - x86_64:
          filters:
            tags:
              only: /^v.*/
      - x86_64-musl:
          filters:
            tags:
              only: /^v.*/
      - x86_32:
          filters:
            tags:
              only: /^v.*/

